.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-hover:hover {
  transform: translateY(-5px);
    box-shadow: rgba(243, 243, 244, 0.2) 0px 7px 29px 0px;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #050505;
  transition: width 0.3s ease;
}
.nav-link:hover::after {
  width: 100%;
}
